* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 84%;
  width: 87%;
  background-color: #edb8ab;
  border-radius: 10px;
  overflow: hidden;
}
.toparea {
  width: 100%;
  height: 100px;
  background-color: #e69682;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
}
.toparea h2 {
  font-size: 25px;
  background-color: #d6b5b5;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.content {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 75%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.bubble {
  height: 70px;
  width: 70px;
  background-color: #d08977;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.bubble:hover {
  cursor: pointer;
  background-color: #e69682;
}
@media (width < 400px) {
  .main {
    border-radius: 6px;
  }
  .toparea {
    height: 60px;
    font-size: 12px;
  }
  .toparea h2 {
    font-size: 18px;
    background-color: #f0adad;
  }
  .content {
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .bubble {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .bubble:hover {
    cursor: pointer;
    background-color: #e69682;
  }
}
