body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  height: 450px;
  width: 500px;
  background-color: #3c3838;
  border-radius: 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 60px;
}

.container h2 {
  margin-left: 20px;
}

ul li {
  list-style-type: none;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  width: 150px;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

#field {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#btn {
  width: 50%;
  height: 40px;
  background-color: #262020;
  border: 1px solid white;
  color: aliceblue;
  border-radius: 5px;
}
.btn {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
#btn:active {
  background-color: #383131;
}
